* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

a:hover,
a:visited,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Inter', sans-serif;
}

#body_container {
    width: 90%;
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    height: 10vh;
    justify-content: center;
}

#navbar {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container_nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: #fff;
    font-family: 'Inter', sans-serif;
}

#logotipo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    color: #3a404e;
    width: 25%;
    justify-content: center;
}

#container_conteudo {
    display: flex;
    width: 55%;
    align-items: center;
    gap: 2rem;
    font-size: 1rem;
    color: #667085;
}

.nav_item {
    transform: 2ms ease-in;
    position: relative;
    cursor: pointer;
}

.nav_item:before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 3px;
    width: 0;
    background-color: #8e2424;
    transition: all 0.5s ease;
}

.nav_item:hover:before {
    width: 100%;
}

#botoes_nav {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7rem;
}

.botao_topo {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    width: 7rem;
    font-family: 'Inter', sans-serif;
    margin: 5px;
}

#botao_cadastrar {
    background-color: #8e2424;
    height: 100%;
    color: #ffffff;
    transition: 1s;
}

#botao_cadastrar:hover {
    background-color: #5f1313;
    transform: scale(1.05);
    cursor: pointer;
}

#botao_entrar {
    background-color: #f5f5f5;
    height: 100%;
    transition: 1s;
}

#botao_entrar:hover {
    background-color: #e0e0e0;
    transform: scale(1.05);
    cursor: pointer;
}

#sobre_nos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;
}

.titulo {
    color: #8e2424;
    padding-bottom: 1.5rem;
    display: flex;
    justify-content: center;
}

.subtitulo {
    font-size: 2.87rem;
    padding-bottom: 2.26rem;
}

.container_content {
    width: 50%;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: #667085;
    text-align: center;
}

#estatisticas {
    display: flex;
    width: 87%;
    margin-top: 6.68rem;
    gap: 1.25rem;
}

.card_est {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 21.75rem;
    transition: 1s;
}

.card_est:hover {
    transform: scale(1.05);
}

#estatisticas h1 {
    color: #8e2424;
    padding-bottom: 1rem;
    font-size: 4rem;
}

#estatisticas h3 {
    color: #101828;
    font-size: 1.125rem;
}

#estatisticas p {
    color: #667085;
    font-size: 1rem;
}

#vagas_abertas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6.25rem;
}

#vagas_abertas .titulo {
    background-color: rgba(142, 36, 36, 0.05);
    padding: 4px 12px;
    border-radius: 16px;
}

#vagas_abertas .subtitulo {
    font-size: 36px;
    margin-top: 1rem;
}

#vagas_abertas p {
    font-size: 20px;
    color: #667085;
}

#vagas_abertas img {
    padding-top: 4rem;
}

#vagas {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#vagas .container-vagas {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: flex-start;
}

#vagas .container-vagas .vagas-ofertadas {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
}

#vagas .container-vagas .card_vaga {
    border: 2px solid #EAECF0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 16px;
    padding: 1.5rem;
    transition: 1s;
}

#vagas .container-vagas .card_vaga:hover {
    transform: scale(1.02);
}

#vagas .titulo {
    color: #101828;
    padding-top: 4rem;
}

#vagas .container-vagas .vagas-ofertadas .card_vaga .conteudo_card {
    display: flex;
    gap: 1.5rem;
    color: #667085;
}

.espaco {
    height: 15vh;
}
