<!DOCTYPE html>
<html lang="pt-Br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../styles/style.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap"
            rel="stylesheet"
        />
        <title>OptimusTech</title>
    </head>
    <body>
        <header>
            <nav id="navbar">
                <div id="container_nav">
                    <div id="logotipo">
                        <img
                            src="../images/worldwide 1 (Traced).png"
                            alt="planetinha"
                        />
                        <h3>OptimusTech</h3>
                    </div>
                    <div id="container_conteudo">
                        <a class="nav_item" href="#">Home</a>
                        <a class="nav_item" href="#">Protudos</a>
                        <a class="nav_item" href="#">Recursos</a>
                        <a class="nav_item" href="#">Sobre nós</a>
                    </div>
                    <div id="botoes_nav">
                        <button id="botao_entrar" class="botao_topo">
                            Entrar
                        </button>
                        <button id="botao_cadastrar" class="botao_topo">
                            Cadastrar
                        </button>
                    </div>
                </div>
            </nav>
        </header>
    </body>
</html>
