<!DOCTYPE html>
<html lang="pt-Br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../styles/style.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap"
            rel="stylesheet"
        />
        <link rel="icon" type="image/png" href="../images/logotipo.png" />
        <title>OptimusTech</title>
    </head>
    <body>
        <div id="body_container">
            <header>
                <nav id="navbar">
                    <div id="container_nav">
                        <div id="logotipo">
                            <img
                                src="../images/logotipo.png"
                                alt="planetinha"
                            />
                            <h3>OptimusTech</h3>
                        </div>
                        <div id="container_conteudo">
                            <a class="nav_item" href="#">Home</a>
                            <a class="nav_item" href="#">Protudos</a>
                            <a class="nav_item" href="#">Recursos</a>
                            <a class="nav_item" href="#">Sobre nós</a>
                        </div>
                        <div id="botoes_nav">
                            <button id="botao_entrar" class="botao_topo">
                                Entrar
                            </button>
                            <button id="botao_cadastrar" class="botao_topo">
                                Cadastrar
                            </button>
                        </div>
                    </div>
                </nav>
            </header>
            <section>
                <div id="sobre_nos">
                    <div class="titulo">
                        <h3>Sobre nós</h3>
                    </div>
                    <div class="subtitulo">
                        <h1>Por que somos diferentes?</h1>
                    </div>
                    <div class="container_content">
                        <p>
                            Nós focamos nos detalhes de tudo que fazemos. Tudo
                            para ajudar as empresas de todo o mundo a se
                            concentrarem naquilo que é realmente importante para
                            elas.
                        </p>
                    </div>
                    <div id="estatisticas">
                        <div class="card_est projetos_concluidos">
                            <h1>400+</h1>
                            <h3>Projetos concluídos</h3>
                            <p>
                                Nós ajudamos a construir mais de 400 projetos
                                incríveis.
                            </p>
                        </div>
                        <div class="card_est colaboradores">
                            <h1>100+</h1>
                            <h3>Colaboradores</h3>
                            <p>
                                Temos mais de 100 colaboradores no nosso time
                                que se preocupam com nossos clientes.
                            </p>
                        </div>
                        <div class="card_est downloads">
                            <h1>20k</h1>
                            <h3>Downloads</h3>
                            <p>
                                Nossos projetos que estão disponíveis em lojas
                                já foram baixados 20.000 vezez
                            </p>
                        </div>
                        <div class="card_est reviews">
                            <h1>500+</h1>
                            <h3>Reviews 5 estrelas</h3>
                            <p>
                                Estamos orgulhosos de contar com mais de 500
                                reviews 5 estrelas em nossos produtos.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div id="vagas_abertas">
                    <div class="titulo">
                        <h3>Vagas abertas</h3>
                    </div>
                    <div class="subtitulo">
                        <h1>Estamos procurando por talentos</h1>
                    </div>
                    <p>
                        Somos uma equipe 100% remota com pessoas do Brasil
                        inteiro.
                    </p>
                    <img src="../images/reuniao.png" alt="reunião" />
                </div>
                <div id="vagas">
                    <div class="container-vagas">
                        <div class="titulo">
                            <h3 class="titulo_vagas">Design</h3>
                        </div>
                        <div class="vagas-ofertadas">
                            <div class="card_vaga">
                                <div class="titulo_card">
                                    <h4>Product Designer</h4>
                                </div>
                                <div class="conteudo_card">
                                    <p class="tempo">Full-Time</p>
                                    <p class="salario">
                                        Faixa salarial: R$7.000
                                    </p>
                                </div>
                            </div>
                            <div class="card_vaga">
                                <div class="titulo_card">
                                    <h4>UX Designer</h4>
                                </div>
                                <div class="conteudo_card">
                                    <p class="tempo">Full-Time</p>
                                    <p class="salario">
                                        Faixa salarial: R$6.000
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="titulo">
                            <h3 class="titulo_vagas">
                                Desenvolvimento de Software
                            </h3>
                        </div>
                        <div class="vagas-ofertadas">
                            <div class="card_vaga">
                                <div class="titulo_card">
                                    <h4>Desenvolvedor(a) iOS</h4>
                                </div>
                                <div class="conteudo_card">
                                    <p class="tempo">Full-Time</p>
                                    <p class="salario">
                                        Faixa salarial:R$8.000
                                    </p>
                                </div>
                            </div>
                            <div class="card_vaga">
                                <div class="titulo_card">
                                    <h4>Desenvolvedor(a)Front-end</h4>
                                </div>
                                <div class="conteudo_card">
                                    <p class="tempo">Full-Time</p>
                                    <p class="salario">
                                        Faixa salarial:R$7.000
                                    </p>
                                </div>
                            </div>
                            <div class="card_vaga">
                                <div class="titulo_card">
                                    <h4>Desenvolvedor(a) Back-end</h4>
                                </div>
                                <div class="conteudo_card">
                                    <p class="tempo">Full-Time</p>
                                    <p class="salario">
                                        Faixa salarial:R$8.000
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div id="depoimentos">
                    <div class="container-depoimentos">
                        <div class="depoimentos-content">
                            <div class="titulo">
                                <h3>
                                    Veja oque nossos colaboradores falam sobre
                                    nós
                                </h3>
                            </div>
                            <div class="texto-depoimento">
                                <p>
                                    OptimusTech se importa com a saúde dos seus
                                    colaboradores e sempre procura nos dar todo
                                    tipo de auxílio possível.
                                </p>
                            </div>
                            <div class="avatar">
                                <img src="../images/Avatar.png" alt="avatar" />
                                <div class="avatar-content">
                                    <h4 class="avatar-nome">Júlia Castro</h4>
                                    <p class="avatar-work">
                                        Desenvolvolvedora Web
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div id="formulario">
                    <div class="container-formulario">
                        <h2 class="titulo-form">Acompanhe nossas oportunidades</h2>
                        <p>Seja o primeiro a saber quando nossas vagas serão abertas!</p>
                        <div class="input-form">
                            <input class="input-text" type="text" placeholder="Seu e-mail">
                            <button class="input-button" >Cadastrar</button>
                        </div>
                        <footer>
                            <p class="rodape">© 2022 OptimusTech. Todos os direitos reservados.</p>
                        </footer>
                    </div>
                </div>
            </section>
        </div>
    </body>
</html>
